/*==============================================

		1. Admin Tools

==============================================*/

.AdminTools{}



/*==============================================

		2. Event Custom Listing Page

==============================================*/

#EventListingCustomCurrent, #EventListingCustomUpcoming{width: 100%;}
#EventListingCustomUpcoming {padding-top: 1.5em;}
		.EventHeader{clear: both; width: 100%; overflow: hidden;  border-bottom: 1px #ccc solid;}
			.EventHeader h4 {text-transform: uppercase; font-weight: bold; margin-bottom: 0.4em; margin-top: 0; font-size: 100%;}
			.EventHeader .Normal{float:left;width: 15%; margin-right: 3%; text-align: right; color: #666;}
			.EventHeader .NormalBold{float: left; width: 81%; color: #000;}

		#EventItem{border-bottom: 1px #ccc dotted; overflow: hidden; padding: 1em 0;}
			#EventItem p{margin-top: 0;margin-bottom: 0;}
		.EventTitle h2{margin-left: 18%; font-size: 120%; line-height: 1.2; margin-bottom: 0.5em;}
		.EventDate {clear: both; width: 100%; overflow: hidden;}
			.EventDate .NormalBold, .EventLocation .NormalBold, .EventDescription .NormalBold
			{float:left; width: 15%; margin-right: 3%; text-align: right;}
			.EventDate .Normal, .EventLocation .Normal, .EventDescription .Normal{float: left; width: 81%;}

		.EventButtons{margin-left: 18%;}

		#myEvents{}
			#myEvents .EventHeader{clear: both; width: 100%; overflow: hidden;}
				#myEvents .EventHeader .NormalBold{float: left; width: 20%;}
				#myEvents .EventHeader .eventsSort {float: right; width: 80%;}
					#myEvents .EventHeader .eventsSort, #myEvents .EventHeader .eventsSort table, #myEvents .EventHeader .eventsSort td {padding: 0; margin: 0;}
					#myEvents .EventHeader .sortTitle{}
					#myEvents .EventHeader .sortButtons{}
	
	

		.EventStats{font-weight:bold;}	
		.border	{border: thin groove;}


/*========================================================

3. Validation

========================================================*/

.ModuleMessage{width:100%; padding-top: 1em;}
.mmBody{height: 100%; padding: 0.675em 0.675em 1.563em;  margin:0 auto; overflow: hidden; border-bottom: solid 1px #000;}
.mmBody .mmIcon{float:left; width: 10%; height:32px; text-indent:-9999px;}
.mmBody .Normal{float: right; text-align: left; width: 88%;}
/*========================= Error On Page ===============================*/

/*.errorTop{background:transparent url(images/redTop.gif) no-repeat scroll left bottom; height: 5px; line-height: 0;}*/
/*.RedErrorBody {background-color:#FDE0E0; border: solid 2px #FF0000;}*/
/*.RedErrorBody .RedErrorIcon{background:url(images/errorSmallIcon.png) no-repeat;}*/
.RedErrorBody .RedErrorIcon{background:url(../../images/red-error.gif) no-repeat;}
/*.errorBt{background:transparent url(images/redBt.gif) no-repeat scroll left top; height: 5px;}*/

/*========================= Success ===============================*/

/*.successTop{background:transparent url(images/greenTop.gif) no-repeat scroll left bottom; height: 5px; line-height: 0;}*/
.GreenSuccessBody {background-color:#F2FFF3; border: solid 2px #5CD800; }
.GreenSuccessBody .GreenSuccessIcon{background:url(images/successSmallIcon.png) no-repeat;}
/*.successBt{background:transparent url(images/greenBt.gif) no-repeat scroll left top; height: 5px;}*/

/*========================= Notification ===============================*/

/*.notificationTop{background:transparent url(images/blueTop.gif) no-repeat scroll left bottom; height: 5px; line-height: 0;}*/
.YellowWarningBody {background-color:#F2FFF3; border: solid 2px #5CD800; }
.YellowWarningBody .YellowWarningIcon{background:url(images/successSmallIcon.png) no-repeat;}
/*.notificationBt{background:transparent url(images/blueBt.gif) no-repeat scroll left top; height: 5px;}*/
