/*==============================================

		1. Event Custom Listing Page

==============================================*/

#EventListingCurrent, #EventListingUpcoming{width: 100%;}
#EventListingUpcoming {padding-top: 1.5em;}
		.EventHeader, .ResponseHeader, .ResponseRow{clear: both; width: 100%; overflow: hidden;  border-bottom: dotted 1px #ccc;}
			.EventHeader h4, .ResponseHeader h4 {text-transform: uppercase; font-weight: bold; margin-bottom: 0.4em; margin-top: 0; font-size: 100%;}
			.EventHeader .Normal{float:left;width: 15%; margin-right: 3%; text-align: right; color: #666;}
			.EventHeader .NormalBold{float: left; width: 81%; color: #000;}
			.ResponseHeader h4, .ResponseHeader h3, .ResponseRow h3 {display:inline;}
			.ResponseHeader .SortByHeader{width: 40%; float:left;}
			.ResponseHeader .StatusHeader{width: 40%; float:right; text-align:right;}
			.ResponseHeader .StatusTypeHeaders{width: 40%; float:right; text-align:right;}
			.ResponseHeader .StatusTypeHeaders > span{padding-right: 10%;}
			.ResponseRow .EventStats{float:right; width:30%;}
			.ResponseRow .EventStats > a {padding-right: 50%;}
.ResponsesSummary {padding: 25px 0;}
.PagingTable { margin: 10px 0; }

		#EventItem{border-bottom: 1px #ccc dotted; overflow: hidden; padding: 1em 0;}
			#EventItem p{margin-top: 0;margin-bottom: 0.875em;}
		.EventTitle h2{font-size: 120%; line-height: 1.2; margin: 0 0 0.5em 18%; }
		.EventDate {clear: both; width: 100%; overflow: hidden;}
			.EventDate .NormalBold, .EventLocation .NormalBold, .EventDescription .NormalBold
			{float:left; width: 15%; margin-right: 3%; text-align: right;}
			.EventDate .Normal, .EventLocation .Normal, .EventDescription .Normal{float: left; width: 81%;}

		.EventDescription{overflow: hidden; clear: both;}
		
		.EventButtons{margin-left: 18%; margin-top: 0.675em;}	
		.EventStats{font-weight:bold;}	
		.border	{border: thin groove;}

/* event calendar display page */

.EventCalendar li { list-style-type: none; }

.RadScheduler .rsApt { height: auto !important;}

/* event edit page */

.AdminButtons{text-align: left; padding: 1em 0;}
	.FooterButtons { padding-top: 3%; }
	.AddEventSuccessMessage { padding-left: 10%; }

	.AddNewEvent { padding-top: 2%; width: 100%; height: 100%;}
	.AddNewEvent .Head { text-align: left; border-bottom: dashed 1px black; text-transform: uppercase; margin-bottom: 5%; padding-bottom: 1%; }

.EventTitle, .EventStartDate, .EventEndDate, .EventLocationAdd, .EventEditor {text-align: left;}
	.EventTitle .NormalBold { font-size: medium; }
	.EventTitle .NormalTextBox { width: 40%; }
	.EventLocationAdd .NormalTextBox { width: 60%; }
	.EventStartDate .NormalBold { text-align: right; }
	
	.EventStartDate {clear: both; overflow: hidden;}
			.EventEditor .NormalBold, .EventTitle .NormalBold, .EventStartDate .NormalBold, .EventLocationAdd .NormalBold, .EventEndDate .NormalBold
			{float:left; width: 20%; margin-right: 3%; text-align: right;}
			.EventEditor .Normal, .EventTitle .Normal, .EventStartDate .Normal, .EventLocationAdd .Normal, .EventEndDate .Normal{float: left; width: 81%;}

.EventEditor li { list-style-type: none; }


.registerSubmitBt, .registerMessage{margin-top: 0.675em;}

/*========================================================

		2. Validation

========================================================*/
.ModuleMessage{width:60%; padding-top: 1em; margin: 0 auto;}
.mmTop{height: 5px; line-height: 0; background-color:transparent; background-repeat: no-repeat; background-attachment:scroll; background-position:left bottom;}
.mmBody{height: 100%; padding: 0.675em 0.675em 1em;  margin:0 auto; overflow: hidden; border-bottom: solid 1px #000;}
.mmBody .mmIcon{float:left; width: 10%; height:32px; text-indent:-9999px;}
.mmText{float: right; text-align: left; width: 88%;}
.mmText{margin: 0; padding: 0;}
.mmText > p{margin-top: 4px; font-weight: bold; color: #000;}
.mmBt{height: 5px; background-color:transparent; background-repeat: no-repeat; background-attachment:scroll; background-position:left top;}

/*========================= Error On Page ===============================*/

/*.ErrorTop{background-image:url(images/redTop.gif);}
.ErrorBody {background-image:url(images/redBody.gif);}
.ErrorBt{background-image:url(images/redBt.gif);} */

.ErrorBody {background: #fde0e0; border: 2px #ff0000 solid;}
.ErrorBody .ErrorIcon{background:url(images/errorSmallIcon.png) no-repeat;}



/*========================= Success ===============================*/

/*.SuccessTop{background-image:url(images/greenTop.gif);}
.SuccessBody {background-image:url(images/greenBody.gif);}
.SuccessBt{background-image:url(images/greenBt.gif);}*/

.SuccessBody {background:#f2fff3; border: 2px #5cd800 solid;}
.SuccessBody .SuccessIcon{background:url(images/successSmallIcon.png) no-repeat;}

/*========================= Notification ===============================*/

.WarningTop{background-image:url(images/blueTop.gif);}
.WarningBody {background-image:url(images/blueBody.gif);}
.WarningBody .WarningIcon{background-image:url(images/successSmallIcon.png);}
.WarningBt{background-image:url(images/blueBt.gif);}