/*================ Event Custom Listing Page ==========================*/
.EventHeader,
.ResponseHeader,
.ResponseRow {
  clear: both;
  width: 100%;
  overflow: hidden;
  border-bottom: dotted 1px #ccc;
}
.EventHeader h4,
.ResponseHeader h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.4em;
  margin-top: 0;
  font-size: 100%;
}
.EventHeader .Normal {
  float: left;
  width: 15%;
  margin-right: 3%;
  text-align: right;
  color: #666;
}
.EventHeader .NormalBold {
  float: left;
  width: 81%;
  color: #000;
}
.ResponseHeader h4,
.ResponseHeader h3,
.ResponseRow h3 {
  display: inline;
}
.ResponseHeader .SortByHeader {
  width: 49%;
  float: left;
}
.ResponseHeader .StatusHeader {
  width: 49%;
  float: right;
  text-align: center;
}
.ResponseHeader .StatusTypeHeaders > span {
  padding-right: 10%;
}
.ResponseRow .EventStats {
  float: right;
  width: 30%;
}
.ResponseRow .EventStats > a {
  padding-right: 50%;
}
.ResponsesSummary {
  padding: 25px 0;
}
/*------------- event calendar display page --------------------*/
.EventCalendar li {
  list-style-type: none;
}
.RadScheduler_Telerik div.rsHeader p {
  width: 110px;
}
.RadScheduler .rsContent {
  float: left;
}
.EventCalendar .RadScheduler .rsHeader {
  z-index: 899;
  /*Behind DNN 6 action menu*/
}
.EventToolTip {
  padding: 10px;
  padding-bottom: 0;
}
h2.EventTitleToolTip {
  margin: 0;
}
.tooltip_buttons {
  padding: 10px 0;
}
.respond-wrap {
  padding: 15px;
}
.respond-wrap h2.Head,
.respond-wrap h3.SubHead {
  margin: 0;
}
.events-categoryfilter-dialog {
  display: none;
}
.registerSubmitBt,
.registerMessage {
  margin-top: 0.675em;
}
/*----------------- event edit page ----------------------------*/
.rsAdvRecurrenceFreq:after,
.rsAdvRecurrencePatterns:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.rsAdvRecurrenceRangePanel ul li {
  list-style: none;
}
.rsAdvRecurrenceRangePanel {
  padding-left: 2%;
}
.rsAdvRecurrenceRangePanel label {
  padding-right: 4px;
}
.rsAdvancedEdit .rsAdvCheckboxWrapper input {
  vertical-align: middle;
}
.rsAdvancedEdit .rsAdvCheckboxWrapper label {
  width: auto;
}
.rsAdvRecurrenceFreq {
  float: left;
  width: 20%;
  padding-left: 2%;
  border-right: 1px solid #dfdfdf;
}
.rsAdvRecurrenceFreq ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}
.rsAdvRecurrenceFreq ul li {
  margin: 0 0 10px 0;
  list-style: none;
}
.rsAdvHourly,
.rsAdvDaily,
.rsAdvWeekly,
.rsAdvMonthly,
.rsAdvYearly {
  float: right;
  width: 75%;
  padding-left: 2%;
}
.rsAdvHourly ul,
.rsAdvDaily ul,
.rsAdvWeekly ul,
.rsAdvMonthly ul,
.rsAdvYearly ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}
.rsAdvHourly li,
.rsAdvDaily li,
.rsAdvWeekly li,
.rsAdvMonthly li,
.rsAdvYearly li,
.rsAdvRecurrenceRangePanel li,
.rsAdvMoreControls li {
  margin: 0 0 10px 0;
  list-style: none;
}
.rsAdvHourly input,
.rsAdvDaily input,
.rsAdvWeekly input,
.rsAdvMonthly input,
.rsAdvYearly input,
.rsAdvHourly select,
.rsAdvDaily select,
.rsAdvWeekly select,
.rsAdvMonthly select,
.rsAdvYearly select {
  margin: 0 2px;
}
.rsAdvRecurrencePatterns .rsAdvInput,
.rsAdvRecurrenceRangePanel .rsAdvInput {
  width: 30px;
  padding-left: 1px;
  padding-right: 1px;
}
.rsAdvRecurrencePatterns .rsAdvWeekly_Weekday {
  float: left;
  width: 100px;
}
.rsAdvRecurrencePatterns ul li {
  list-style-type: none;
}
.rsAdvRecurrencePatterns {
  zoom: 1;
}
/*----------------- event responses page ----------------------------*/
.ResponseHeader {
  padding: 0.375em 0;
}
.ResponseHeader > p {
  float: left;
  width: 49%;
  margin: 0;
  font-weight: bold;
}
.StatusTypeHeaders {
  float: right;
  width: 49%;
  text-align: center;
}
.StatusTypeHeaders p {
  margin: 0;
}
.ResponseAtt {
  float: left;
  width: 49%;
}
.ResponseNotAtt {
  float: right;
  width: 49%;
}
.ResponseDetailHeader td {
  background: #fff;
  color: #000;
  font-weight: bold;
  border-top: 1px #555 solid;
  border-bottom: 1px #333 solid;
  padding: 10px 0 6px;
  font-size: 120%;
}
.ResponseDetailItem {
  border-bottom: 1px #ccc dotted;
  border-top: 1px #ccc dotted;
}
.ResponseDetailItem td,
.ResponseDetailAltItem td {
  padding: 8px 0;
}
.ResponseDetailAltItem {
  background: #f2f9fc;
}
.ResponseHeader .SortByHeader p,
.ResponseHeader .StatusHeader p {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
}
.ResponseMemberName {
  font-weight: bold;
}
.ResponseDisplay {
  padding: 8px 0;
}
.ResponseEventDisplay {
  float: left;
  width: 49%;
}
.ResponseEventDisplay h3 {
  font-weight: bold;
  color: #046380;
  margin: 0;
  font-size: 110%;
}
.ResponseEventDisplay p {
  margin: 0;
  color: #555;
  font-size: 95%;
}
.ResponseEventStats {
  float: right;
  width: 49%;
  text-align: center;
}
.ResponseEventStats p {
  margin: 0;
}
.ResponsesSummary ol {
  margin: 0 0 0 1.675em;
  padding: 0;
}
.ResponsesSummary ol li .ResponseDisplay {
  padding: 0;
  margin: 12px 0 8px;
}
.ResponseDetailGrid table {
  width: 100%;
}
/*========================  Form Pattern ========================*/
.eng-form fieldset {
  color: #222;
  background: #f7f7f7;
  border: solid 1px #ddd;
  padding: 15px;
  margin-bottom: 15px;
}
.eng-form legend {
  color: #d4730c;
  font-size: 1.2em;
}
.eng-form ul.eng-form-items,
.eng-form ul.eng-actions {
  margin: 0;
  padding: 0;
}
.eng-form ul li.eng-form-item,
.eng-form ul.eng-actions li {
  list-style: none;
  margin: 0;
  padding: 6px 0;
  zoom: 1;
  /*clearfix below needs hasLayout in IE*/
}
.eng-form ul li.eng-form-item:after {
  content: "";
  display: table;
  clear: both;
}
.eng-form label {
  display: block;
}
.eng-form .eng-window-wrap label,
.eng-form .eng-events-recurrence-pattern label,
.eng-form .eng-events-recurrence-range label {
  display: inline;
}
.eng-form .eng-form-item label a.dnnFormHelp {
  background-position: left;
  padding-left: 20px;
  display: inline;
}
.eng-form .eng-form-item .dnnFormHelpContent {
  left: 30%;
}
.eng-form .eng-form-item .dnnTextEditor label a.dnnFormHelp {
  display: block;
}
.eng-form .eng-tiny input,
.eng-form .eng-tiny label {
  float: left;
  padding-right: 1ex;
}
/* eng-tiny should have the label after the input (e.g. for checkboxes) */
.eng-form .eng-tiny .eng-form-help {
  clear: left;
  float: none;
}
.eng-form .eng-tiny input,
.eng-form .eng-tiny textarea,
.eng-form .eng-tiny select,
.eng-form .eng-tiny textarea {
  width: 40px;
}
.eng-form .eng-tiny .RadInput,
.eng-form .eng-tiny .RadInput input,
.eng-form .eng-tiny .RadInput textarea,
.eng-form .eng-tiny .RadComboBox,
.eng-form .eng-tiny .RadEditor {
  width: 40px !important;
}
.eng-form .eng-small input,
.eng-form .eng-small textarea,
.eng-form .eng-small select,
.eng-form .eng-small textarea {
  width: 100px;
}
.eng-form .eng-small .RadInput,
.eng-form .eng-small .RadInput input,
.eng-form .eng-small .RadInput textarea,
.eng-form .eng-small .RadComboBox,
.eng-form .eng-small .RadEditor {
  width: 100px !important;
}
.eng-form .eng-small textarea {
  height: 3em;
}
.eng-form .eng-medium input,
.eng-form .eng-medium textarea,
.eng-form .eng-medium select,
.eng-form .eng-medium textarea {
  width: 200px;
}
.eng-form .eng-medium .RadInput,
.eng-form .eng-medium .RadInput input,
.eng-form .eng-medium .RadInput textarea,
.eng-form .eng-medium .RadComboBox,
.eng-form .eng-medium .RadEditor {
  width: 200px !important;
}
.eng-form .eng-medium textarea {
  height: 4em;
}
.eng-form .eng-large input,
.eng-form .eng-large textarea,
.eng-form .eng-large select,
.eng-form .eng-large textarea {
  width: 400px;
}
.eng-form .eng-large .RadInput,
.eng-form .eng-large .RadInput input,
.eng-form .eng-large .RadInput textarea,
.eng-form .eng-large .RadComboBox,
.eng-form .eng-large .RadEditor {
  width: 400px !important;
}
.eng-form .eng-large textarea {
  height: 5em;
}
.eng-form .eng-x-large input,
.eng-form .eng-x-large textarea,
.eng-form .eng-x-large select,
.eng-form .eng-x-large textarea {
  width: 600px;
}
.eng-form .eng-x-large .RadInput,
.eng-form .eng-x-large .RadInput input,
.eng-form .eng-x-large .RadInput textarea,
.eng-form .eng-x-large .RadComboBox,
.eng-form .eng-x-large .RadEditor {
  width: 600px !important;
}
.eng-form .eng-x-large textarea {
  height: 6em;
}
.eng-form input[type="checkbox"],
.eng-form input[type="radio"],
.eng-form input[type="submit"],
.eng-form input[type="button"] {
  width: auto;
}
.eng-form .eng-list input {
  float: left;
}
.eng-form .eng-list label {
  margin-bottom: 0.5em;
}
.eng-form ul.eng-actions li {
  float: left;
}
.eng-form .eng-primary-action {
  background: #d4730c;
  padding: 2px 6px;
  border: solid 1px #ddd;
  color: #fff;
}
.eng-form .eng-primary-action[disabled] {
  cursor: default;
  color: #bbb;
  border-color: #777;
}
.eng-form .eng-secondary-action {
  background: none;
  border: none;
  color: #d4730c;
  padding: 2px 6px;
}
.eng-form .eng-secondary-action:hover {
  text-decoration: underline;
}
.eng-form .eng-secondary-action[disabled] {
  cursor: default;
  background: #ddd;
  border: solid 1px #777;
}
.eng-form .eng-secondary-action[disabled]:hover {
  text-decoration: none;
}
.eng-form .eng-tertiary-action {
  background: #60605f;
  padding: 2px 6px;
  border: solid 1px #ddd;
  color: #fff;
}
.eng-form .eng-tertiary-action[disabled] {
  cursor: default;
  border-color: #bbb;
  color: #777;
}
.eng-primary-action,
.eng-secondary-action,
.eng-tertiary-action {
  cursor: pointer;
}
.eng-end-form {
  clear: both;
}
.eng-form-message {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 10px 10px 40px;
  line-height: 1.4;
  margin: 0.5em 1em;
}
.eng-form-message span {
  float: none;
  padding: 0;
  width: 100%;
  text-align: left;
  text-shadow: 0 1px 1px #fff;
}
.eng-form-warning {
  background: #feffce url(Images/warning-icn.png) no-repeat 10px center;
  border: 2px #cdb21f solid;
  color: #41370C;
  text-shadow: 0 1px 1px #fff;
}
.eng-form-validation-summary {
  background: #f7eaea url(Images/error-icn.png) no-repeat 10px center;
  text-shadow: 0 1px 1px #fff;
  color: #900;
  border: 2px #df4a40 solid;
}
.eng-form-validation-summary ul {
  padding-left: 40px;
}
.eng-form-success {
  background: #ecffeb url(Images/success-icn.png) no-repeat 10px center;
  border: 2px #64b657 solid;
  color: #358927;
}
.eng-form-info {
  background: #edf8ff url(Images/help-icn.png) no-repeat 10px center;
  border: #46a3d3 2px solid;
  color: #085b8f;
  text-shadow: 0 1px 1px #fff;
}
.eng-form-message.eng-form-error {
  display: block;
  color: #c00;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-style: italic;
}
.TemplatesSection {
  margin: 1em;
}
/*------------------- New Templates Picker ------------------*/
.events-choose-display-wrap {
  width: 100%;
  height: auto;
  clear: both;
}
.cd-type {
  width: 100%;
  padding: 10px 0;
}
.cd-type h4 {
  font-size: 14px;
  color: #333;
}
.cd-type .NormalTextBox {
  display: inline;
}
.cd-template-title {
  display: block;
}
.cd-list {
  width: 100%;
}
.cd-list h4 {
  font-size: 14px;
  color: #333;
}
.cd-list-description {
  width: 48%;
  float: left;
  padding: 10px 0;
}
.cd-list-description fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.cd-list-description legend {
  font-size: 16px;
  padding: 0;
}
.cd-list-preview {
  width: 48%;
  float: right;
  overflow: hidden;
  padding: 10px 0;
}
.cd-list-preview span {
  font-size: 16px;
}
.settings-table {
  float: left;
  width: 48%;
  clear: both;
  padding: 10px 0;
}
.DataGrid_Header th {
  font-size: 12px;
  color: #333;
  text-align: left;
  padding: 5px 0;
}
.DataGrid_Item td,
.DataGrid_AlternatingItem td {
  text-align: left;
  padding: 0 5px;
  color: #000;
}
.DataGrid_AlternatingItem td {
  color: #333;
}
.cd-single-item {
  width: 100%;
  clear: both;
  padding-top: 20px;
}
.cd-single-item h4 {
  font-size: 14px;
  color: #333;
}
.cd-single-item-description {
  width: 48%;
  float: left;
  padding: 10px 0;
}
.cd-list-description fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.cd-list-description legend {
  font-size: 16px;
  padding: 0;
}
.cd-single-item-preview {
  width: 48%;
  float: right;
  overflow: hidden;
  padding: 10px 0;
}
.cd-single-item-preview span {
  font-size: 16px;
}
.settings-table {
  float: left;
  width: 48%;
  clear: both;
}
.cd-buttons {
  float: left;
  clear: both;
  padding: 15px 0;
}
/*========================= Fancy Box ===============================*/
div#fancy_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  background-color: #333;
}
div#fancy_loading {
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: none;
  overflow: hidden;
  background: transparent;
  z-index: 9010;
}
div#fancy_loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background: transparent url(Images/fancy_progress.png) no-repeat;
}
div#fancy_close {
  position: absolute;
  top: -12px;
  right: -12px;
  height: 30px;
  width: 30px;
  background: transparent url(Images/fancy_closebox.png);
  cursor: pointer;
  z-index: 9010;
  display: none;
}
div#fancy_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 9006;
}
#fancy_frame {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
img#fancy_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 9002;
}
div#fancy_title {
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  z-index: 9010;
  display: none;
}
div#fancy_title table {
  margin: 0 auto;
}
div#fancy_title div {
  color: #FFF;
  font: bold 12px Arial;
  padding-bottom: 2px;
}
td#fancy_title_left {
  height: 32px;
  width: 15px;
  background: transparent url(Images/fancy_title_left.png) repeat-x;
}
td#fancy_title_main {
  height: 32px;
  background: transparent url(Images/fancy_title_main.png) repeat-x;
}
td#fancy_title_right {
  height: 32px;
  width: 15px;
  background: transparent url(Images/fancy_title_right.png) repeat-x;
}
div#fancy_outer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
  padding: 18px 18px 58px 18px;
  margin: 0;
  overflow: hidden;
  background: transparent;
  display: none;
  width: 550px;
  height: 200px;
}
div#fancy_inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #444;
  background: #FFF;
}
a#fancy_left,
a#fancy_right {
  position: absolute;
  bottom: 10px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  background-image: formatstring("url(data:image/gif;base64,AAAA)");
  z-index: 100;
}
a#fancy_left {
  left: 0px;
}
a#fancy_right {
  right: 0px;
}
a#fancy_left:hover {
  background: transparent url(Images/fancy_left.gif) no-repeat 0% 100%;
}
a#fancy_right:hover {
  background: transparent url(Images/fancy_right.gif) no-repeat 100% 100%;
}
#fancy_bigIframe,
#fancy_freeIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
div#fancy_bg {
  display: none;
}
div.fancy_bg {
  position: absolute;
  display: block;
  z-index: 70;
}
div.fancy_bg_n {
  top: -18px;
  width: 100%;
  height: 18px;
  background: transparent url(Images/fancy_shadow_n.png) repeat-x;
}
div.fancy_bg_ne {
  top: -18px;
  right: -13px;
  width: 13px;
  height: 18px;
  background: transparent url(Images/fancy_shadow_ne.png) no-repeat;
}
div.fancy_bg_e {
  right: -13px;
  height: 100%;
  width: 13px;
  background: transparent url(Images/fancy_shadow_e.png) repeat-y;
}
div.fancy_bg_se {
  bottom: -18px;
  right: -13px;
  width: 13px;
  height: 18px;
  background: transparent url(Images/fancy_shadow_se.png) no-repeat;
}
div.fancy_bg_s {
  bottom: -18px;
  width: 100%;
  height: 18px;
  background: transparent url(Images/fancy_shadow_s.png) repeat-x;
}
div.fancy_bg_sw {
  bottom: -18px;
  left: -13px;
  width: 13px;
  height: 18px;
  background: transparent url(Images/fancy_shadow_sw.png) no-repeat;
}
div.fancy_bg_w {
  left: -13px;
  height: 100%;
  width: 13px;
  background: transparent url(Images/fancy_shadow_w.png) repeat-y;
}
div.fancy_bg_nw {
  top: -18px;
  left: -13px;
  width: 13px;
  height: 18px;
  background: transparent url(Images/fancy_shadow_nw.png) no-repeat;
}
a.PopupTriggerLink {
  visibility: hidden;
}
/*========================= Manage Categories ==============================*/
.ManageCategoriesGrid td {
  padding: 0;
  width: 70px;
}
.ManageCategoriesGrid .buttons-col {
  width: 70px;
}
.ManageCategoriesGrid .name-col {
  width: 337px;
}
.ManageCategoriesGrid .parent-col {
  width: 120px;
}
/*========================= Global Nav =====================================*/
.GlobalNavigation {
  text-align: left;
}
.GlobalNavigation .RadMenu_Engage {
  width: 100% !important;
  z-index: 900 !important;
  /*Stay under DNN 6 action menu (while still over RadScheduler)*/
}
.GlobalNavigation .RadMenu_Engage .rmRootGroup {
  border: 1px solid #dddddd;
  background: url("Images/radmenu-bg.png") repeat-x #e7e7e7;
  width: 100%;
}
.GlobalNavigation .RadMenu_Engage .rmRootGroup .rmLink {
  color: #60605f;
  display: block;
  padding: 6px 9px 6px 44px;
  height: 19px;
}
.GlobalNavigation .RadMenu_Engage .rmRootGroup .rmLink:hover {
  color: #d4730c;
  cursor: pointer;
  display: block;
  text-decoration: none;
  border-right: 1px solid #aaa9a9;
  border-left: 1px solid #aaa9a9;
  background-color: #dcdbdb;
  padding: 6px 8px 6px 43px;
}
.GlobalNavigation .RadMenu_Engage .rmRootGroup .rmFocused {
  color: #60605f;
  cursor: pointer;
  display: block;
  text-decoration: none;
  background-color: #dcdbdb;
}
.GlobalNavigation .RadMenu_Engage .rmRootGroup .rmText {
  padding: 0 7px 1px 0;
}
.GlobalNavigation .RadMenu_Engage .rmLevel1 {
  background: #f8f8f8;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-left: 1px solid #efefef;
}
.GlobalNavigation .RadMenu_Engage .rmLevel1 .rmLink {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 5px 10px;
}
.GlobalNavigation .RadMenu_Engage .rmLevel1 .rmLink:hover {
  padding: 5px 10px;
}
.GlobalNavigation .RadMenu_Engage .rmLevel1 .rmLast .rmLink {
  border-bottom: 1px solid #ccc;
}
.GlobalNavigation .RadMenu_Engage .rmLevel1 .rmText {
  padding: 0;
}
.GlobalNavigation .RadMenu_Engage .rmLink {
  background: url("Images/icon-canvas.png") no-repeat;
}
.GlobalNavigation .RadMenu_Engage .rmLevel1 .rmLink {
  background: none;
}
.GlobalNavigation .RadMenu_Engage #HomeItem {
  background-position: 10px -73px;
}
.GlobalNavigation .RadMenu_Engage #HomeItem:hover {
  background-position: 8px -104px;
}
.GlobalNavigation .RadMenu_Engage #AddEventItem {
  background-position: 9px -4px;
}
.GlobalNavigation .RadMenu_Engage #AddEventItem:hover {
  background-position: 8px -39px;
}
.GlobalNavigation .RadMenu_Engage #ManageItem {
  background-position: 9px -139px;
}
.GlobalNavigation .RadMenu_Engage #ManageItem:hover {
  background-position: 8px -139px;
}
.GlobalNavigation .RadMenu_Engage #SettingsItem {
  background-position: 10px -210px;
}
.GlobalNavigation .RadMenu_Engage #SettingsItem:hover {
  background-position: 9px -210px;
}
.GlobalNavigation .RadMenu_Engage #ManageItem,
.GlobalNavigation .RadMenu_Engage #SettingsItem {
  cursor: default;
}
.GlobalNavigation .RadMenu_Engage #ManageItem:hover,
.GlobalNavigation .RadMenu_Engage #SettingsItem:hover {
  color: #60605f;
}
/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.events-categoryfilter-dialog-wrap .ui-helper-hidden {
  display: none;
}
.events-categoryfilter-dialog-wrap .ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.events-categoryfilter-dialog-wrap .ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.events-categoryfilter-dialog-wrap .ui-helper-clearfix:before,
.events-categoryfilter-dialog-wrap .ui-helper-clearfix:after {
  content: "";
  display: table;
}
.events-categoryfilter-dialog-wrap .ui-helper-clearfix:after {
  clear: both;
}
.events-categoryfilter-dialog-wrap .ui-helper-clearfix {
  zoom: 1;
}
.events-categoryfilter-dialog-wrap .ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* Interaction Cues
----------------------------------*/
.events-categoryfilter-dialog-wrap .ui-state-disabled {
  cursor: default !important;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.events-categoryfilter-dialog-wrap .ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ctl=themeroller&ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */
/* Component containers
----------------------------------*/
.events-categoryfilter-dialog-wrap.ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.1em;
}
.events-categoryfilter-dialog-wrap.ui-widget .ui-widget {
  font-size: 1em;
}
.events-categoryfilter-dialog-wrap.ui-widget input,
.events-categoryfilter-dialog-wrap.ui-widget select,
.events-categoryfilter-dialog-wrap.ui-widget textarea,
.events-categoryfilter-dialog-wrap.ui-widget button {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em;
}
.events-categoryfilter-dialog-wrap.ui-widget-content {
  border: 1px solid #dddddd;
  background: #eeeeee 50% top repeat-x;
  color: #333333;
}
.events-categoryfilter-dialog-wrap.ui-widget-content a {
  color: #333333;
}
.events-categoryfilter-dialog-wrap .ui-widget-header {
  border: 1px solid #e78f08;
  background: #f6a828 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold;
}
.events-categoryfilter-dialog-wrap .ui-widget-header a {
  color: #ffffff;
}
/* Interaction states
----------------------------------*/
.events-categoryfilter-dialog-wrap .ui-state-default,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-default,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6;
  font-weight: bold;
  color: #1c94c4;
}
.events-categoryfilter-dialog-wrap .ui-state-default a,
.events-categoryfilter-dialog-wrap .ui-state-default a:link,
.events-categoryfilter-dialog-wrap .ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none;
}
.events-categoryfilter-dialog-wrap .ui-state-hover,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-hover,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-state-hover,
.events-categoryfilter-dialog-wrap .ui-state-focus,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-focus,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-state-focus {
  border: 1px solid #fbcb09;
  background: #fdf5ce;
  font-weight: bold;
  color: #c77405;
}
.events-categoryfilter-dialog-wrap .ui-state-hover a,
.events-categoryfilter-dialog-wrap .ui-state-hover a:hover {
  color: #c77405;
  text-decoration: none;
}
.events-categoryfilter-dialog-wrap .ui-state-active,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-active,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-state-active {
  border: 1px solid #fbd850;
  background: #ffffff;
  font-weight: bold;
  color: #eb8f00;
}
.events-categoryfilter-dialog-wrap .ui-state-active a,
.events-categoryfilter-dialog-wrap .ui-state-active a:link,
.events-categoryfilter-dialog-wrap .ui-state-active a:visited {
  color: #eb8f00;
  text-decoration: none;
}
.events-categoryfilter-dialog-wrap.ui-widget :active {
  outline: none;
}
/* Interaction Cues
----------------------------------*/
.events-categoryfilter-dialog-wrap .ui-state-highlight,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-highlight,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-state-highlight {
  border: 1px solid #fed22f;
  background: #ffe45c;
  color: #363636;
}
.events-categoryfilter-dialog-wrap .ui-state-highlight a,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.events-categoryfilter-dialog-wrap .ui-state-error,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-error,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900;
  color: #ffffff;
}
.events-categoryfilter-dialog-wrap .ui-state-error a,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-error a,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-state-error a {
  color: #ffffff;
}
.events-categoryfilter-dialog-wrap .ui-state-error-text,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-error-text,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-state-error-text {
  color: #ffffff;
}
.events-categoryfilter-dialog-wrap .ui-priority-primary,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-priority-primary,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.events-categoryfilter-dialog-wrap .ui-priority-secondary,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  font-weight: normal;
}
.events-categoryfilter-dialog-wrap .ui-state-disabled,
.events-categoryfilter-dialog-wrap.ui-widget-content .ui-state-disabled,
.events-categoryfilter-dialog-wrap .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  background-image: none;
}
/* Misc visuals
----------------------------------*/
/* Corner radius */
.events-categoryfilter-dialog-wrap .ui-corner-all,
.events-categoryfilter-dialog-wrap .ui-corner-top,
.events-categoryfilter-dialog-wrap .ui-corner-left,
.events-categoryfilter-dialog-wrap .ui-corner-tl {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}
.events-categoryfilter-dialog-wrap .ui-corner-all,
.events-categoryfilter-dialog-wrap .ui-corner-top,
.events-categoryfilter-dialog-wrap .ui-corner-right,
.events-categoryfilter-dialog-wrap .ui-corner-tr {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.events-categoryfilter-dialog-wrap .ui-corner-all,
.events-categoryfilter-dialog-wrap .ui-corner-bottom,
.events-categoryfilter-dialog-wrap .ui-corner-left,
.events-categoryfilter-dialog-wrap .ui-corner-bl {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.events-categoryfilter-dialog-wrap .ui-corner-all,
.events-categoryfilter-dialog-wrap .ui-corner-bottom,
.events-categoryfilter-dialog-wrap .ui-corner-right,
.events-categoryfilter-dialog-wrap .ui-corner-br {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* Overlays */
.events-categoryfilter-dialog-wrap .ui-widget-overlay {
  background: none;
}
.events-categoryfilter-dialog-wrap .ui-widget-shadow {
  margin: -5px 0 0 -5px;
  padding: 5px;
  background: #000000;
  opacity: .20;
  filter: alpha(opacity=20);
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/*
 * jQuery UI Dialog 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.events-categoryfilter-dialog-wrap.ui-dialog {
  position: absolute;
  padding: .2em;
  width: 300px;
  overflow: hidden;
  border: 2px solid #fff;
  -moz-box-shadow: 5px 5px 5px #c4c4c4;
  -webkit-box-shadow: 5px 5px 5px #c4c4c4;
  box-shadow: 5px 5px 5px #c4c4c4;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
  display: none;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-title {
  float: left;
  margin: .1em 16px .1em 0;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-titlebar-close:hover,
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-titlebar-close:focus {
  padding: 0;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
  zoom: 1;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin: .5em 0 0 0;
  padding: .3em 1em .5em .4em;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
.events-categoryfilter-dialog-wrap.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px;
}
.events-categoryfilter-dialog-wrap.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
