
/*========================================================

		2. Validation

========================================================*/

.SuccessModuleMessage, .ErrorModuleMessage {width:65%; padding: 1em 0; text-align:left;}
.mmBody{height: 100%; padding: 10px 10px 25px;  margin:0 auto; overflow: hidden; background-color:transparent; background-repeat: repeat-y; background-attachment:scroll; background-position:left bottom;}
.mmBody .mmIcon{float:left; width: 20%; height:32px; text-indent:-9999px; background-color:transparent; background-repeat: no-repeat; background-attachment:scroll; background-position:left bottom;}
.mmBody h3 {margin: 0;}
.mmText{float: left; width: 78%;}

/*========================= Error On Page ===============================*/

.ErrorTop{background-image:url(images/redTop.gif);}
.ErrorBody {background: #FDE0E0; border: 2px #FF0000 solid;}
.ErrorBody .ErrorIcon{background-image:url(images/errorSmallIcon.png);}
.ErrorBt{background-image:url(images/redBt.gif);}

/*========================= Success ===============================*/

.SuccessBody {background:#F2FFF3; border: 2px #5CD800 solid;}
.SuccessBody .SuccessIcon{background-image:url(images/successSmallIcon.png);}

/*========================= Notification ===============================*/

.WarningTop{background-image:url(images/blueTop.gif);}
.WarningBody {background-image:url(images/blueBody.gif);}
.WarningBody .WarningIcon{background-image:url(images/successSmallIcon.png);}
.WarningBt{background-image:url(images/blueBt.gif);}


#dnnGalleryTellAFriend p{margin-top: 0.5em; margin-bottom:0;}
.tafName{width: 100%; overflow: hidden;}
	.tafFirst, .tafLast{width: 30%; float: left;}
	.tafLast{margin-left: 5%;}