<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:ChirpyConfig">
  <FileGroup Name="EngageEvents.TemplatedDisplayOptions.combined.js" Minify="false">
    <File Path="json2.js" />
    <File Path="knockout-1.2.1.js" />
    <File Path="EngageEvents.TemplatedDisplayOptions.js" />
  </FileGroup>
  <FileGroup Name="EngageEvents.Actions.RegisterAction.combined.js" Minify="false">
    <File Path="jQuery.fn.replaceOnclick.js" />
    <File Path="jquery.fancybox-1.0.0.js" />
  </FileGroup>
  <FileGroup Name="EngageEvents.Actions.data-confirm.combined.js" Minify="false">
    <File Path="jQuery.fn.replaceOnclick.js" />
    <File Path="data-confirm.js" />
  </FileGroup>
</root>