.ItemListingWrap .ItemListingHeader p{margin: 0; padding: 0;}
.ItemListingWrap .ItemListingHeader h3.Head{clear: both; overflow: hidden; width: 100%; border-bottom: 1px #ccc solid; padding-bottom: 5px; margin: 5px 0;}
.ItemListingWrap .ItemListingHeaderTop{clear: both; overflow: hidden; width: 100%; border-bottom: 1px #ccc solid;}
	.ItemListingWrap .ItemListingHeaderSorting{overflow: hidden; width: 40%; float: left; padding-right: 2%;}
		.ItemListingWrap .ItemListingHeaderSorting .NormalBold {display: block; float: left; padding-top: 4px;}
		.ItemListingWrap .ItemListingHeaderSorting table{ display: inline;}
	.ItemListingWrap .ItemListingHeaderStatus{overflow: hidden; width: 40%; float: left;}
		.ItemListingWrap .ItemListingHeaderStatus .NormalBold {display: block; float: left; padding-top: 4px;}
		.ItemListingWrap .ItemListingHeaderStatus table{ display: inline;}

.ItemListingWrap .ItemListing, .ItemListingWrap .ItemDetails{border-bottom: 1px #ccc dotted; overflow: hidden; padding: 10px 0; width: 100%;}
	.ItemListingWrap p{margin-top: 0; margin-bottom: 6px;}

.ItemListingWrap .EventTitle{overflow: hidden; width:100%;}
	.ItemListingWrap .EventTitle h3.Head{float:right; width:82%; padding: 0 0 5px; margin: 0;}
	
.ItemListingWrap .eng-section{overflow: hidden;}
	.ItemListingWrap .eng-label{float:left; width: 15%; text-align: right;}
	.ItemListingWrap .eng-value{float:right; width: 82%; text-align: left;}
	
    .ItemListingWrap .RecurrenceSummary .NormalBold{float: none; width: auto; text-align: left;}
    .ItemListingWrap .EventDescription .Normal > p{margin-top: 0;}
	
.ItemListingWrap .EventButtons{float:right; width: 82%;}
	.ItemListingWrap .EventButtons input {margin-bottom: 0.675em;}
		
.ItemListingWrap .RecurrenceSummary{padding-left: 15px;}
.ItemListingWrap .RecurringEventItem{background: transparent url(../../images/recurring_icon.gif) no-repeat 0 16px;}

.ItemListingWrap .dtstart{border:none;}
	
/* Category Colors */
.ItemListingWrap .EventCategory span {padding: 2px 4px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.ItemListingWrap .color-Yellow .EventCategory span {background-color:#fffbc7}
.ItemListingWrap .color-Blue .EventCategory span {background-color:#bbd0ec}
.ItemListingWrap .color-Red .EventCategory span {background-color:#ecbbbb}
.ItemListingWrap .color-DarkBlue .EventCategory span {background-color:#202b3f;color:#fff}
.ItemListingWrap .color-DarkRed .EventCategory span {background-color:#3f2020;color:#fff}
.ItemListingWrap .color-Orange .EventCategory span {background-color:#edd5b7}
.ItemListingWrap .color-Pink .EventCategory span {background-color:#f1dcff}
.ItemListingWrap .color-Violet .EventCategory span {background-color:#540042;color:#fff}
.ItemListingWrap .color-DarkGreen .EventCategory span {background-color:#2b3f20;color:#fff}
.ItemListingWrap .color-Green .EventCategory span {background-color:#d0ecbb}