<div class="ItemListingHeader">
	<h2 class="Head"><Engage:Label ResourceKey="Upcoming.Text" /></h2>
	<div class="ItemListingHeaderTop">
        <div class="ItemListingHeaderSorting">
            <p class="NormalBold"><Engage:Label ResourceKey="SortBy" /></p>
            <Engage:EventSort />
        </div>
        <div class="ItemListingHeaderStatus">
            <p class="NormalBold"><Engage:Label ResourceKey="Status" /></p>
            <Engage:StatusFilter />
        </div>
	</div>
</div>