<div class="EventHeader">
    <div class="SortEvent">
        <p class="NormalBold"><Engage:Label ResourceKey="SortBy" /></p>
        <p class="Normal"><Engage:EventSort /></p>
    </div>
    <div class="SortEventStatus">
        <p class="NormalBold"><Engage:Label ResourceKey="Status" /></p>
        <p class="Normal"><Engage:StatusFilter /></p>
    </div>    
    <h4 class="Normal"><Engage:Label ResourceKey="Upcoming" /></h4>
    <h4 class="NormalBold"><Engage:Label ResourceKey="Events" /></h4>
</div>