<Engage:EventWrapper CssClass="EventItem" RecurringEventCssClass="RecurringEventItem" FeaturedEventCssClass="FeaturedEventItem">
<ul class="EventsQuickView">
	<li class="eqv_date"><Engage:DateEntity PropertyName="EventStart" Format="MMM.dd.yyyy"/><span class="RecurrenceSummary"><Engage:RecurrenceSummary /></span></li>
    <li class="eqv_title"><engage:ReadMore><Engage:DataEntity PropertyName="Title" /></Engage:ReadMore></li>
    <div class="EventButtons">
        <Engage:EditEventButton /> <Engage:ViewResponsesButton /> <Engage:RegisterButton /> <Engage:AddToCalendarButton /> <Engage:DeleteButton /> <Engage:CancelButton />
    </div>
</Engage:EventWrapper>