<Engage:EventWrapper CssClass="EventItem" RecurringEventCssClass="RecurringEventItem" FeaturedEventCssClass="FeaturedEventItem" AlternatingCssClass="AlternatingEventItem">

<Engage:ReadMore><span class="item">
		<p class="Normal"><Engage:DateEntity PropertyName="EventStart" Format="MM.dd.yyyy"/><span class="RecurrenceSummary"><Engage:RecurrenceSummary /></span></p>
        <h2 class="NormalBold"><Engage:DataEntity PropertyName="Title" /></h2>
       	</span></Engage:ReadMore>
</Engage:EventWrapper>