<Engage:EventWrapper cssclass="EventItem" recurringeventcssclass="RecurringEventItem" featuredeventcssclass="FeaturedEventItem" alternatingcssclass="AlternatingEventItem">
	<p class="Normal">
	    <Engage:ReadMore CssClass="EventLink">
	        <Engage:DateEntity PropertyName="EventStart" Format="MM.dd.yyyy"/>
	    </Engage:ReadMore>
	</p>
    <h2 class="NormalBold">
        <Engage:ReadMore CssClass="EventLink">
            <Engage:DataEntity PropertyName="Title" />
        </Engage:ReadMore>
    </h2>
</Engage:EventWrapper>
