<div id="EventItem">
  <div class="EventTitle">
        <h2 class="Head"><Engage:DataEntity PropertyName="Title" /></h2>
    </div>
    <div class="EventLocation">
        <p class="NormalBold"><Engage:Label ResourceKey="Where" Text="Where"></Engage:Label></p>
        <p class="Normal"><Engage:DataEntity PropertyName="Location"/></p>
    </div>
    <div class="EventDate">
        <p class="NormalBold">When</p>
        <p class="Normal"><Engage:DateEntity PropertyName="EventStart" Format="MM.dd.yyyy"/></p>
    </div>
    <div class="EventOverview">
        <p class="NormalBold">Overview</p>
        <div class="Normal">
            <div><Engage:DataEntity PropertyName="Overview" /></div>
            <p><Engage:ReadMore ResourceKey="ReadMore" /></p>
            <!--Comment here-->
        </div>
    </div>
    <div class="EventButtons">
        <Engage:EditEventButton /> <Engage:ViewResponsesButton></Engage:ViewResponsesButton> <Engage:RegisterButton></Engage:RegisterButton> <Engage:ADDTOCALENDARBUTTON></Engage:ADDTOCALENDARBUTTON> <Engage:DeleteButton/> <Engage:CancelButton />
    </div>
</div>


<!-- Documentation 
Entity - DateEntity contains a property called Format, valid values are any DateTime format string i.e. MM/dd/yyyy or MM.dd.yy
Entity - ReadMore can be used to create a readmore link. Attributes are ResourceKey and is defined in the EventListingItem.ascx.resx
-->