#eventListingItem{}
	.eventNav{}

/*==================== Header.ListingAll ==================== */
	.ItemListingHeader{}
		.ItemListingHeader p{margin: 0; padding: 0;}
	.ItemListingHeader h2.Head{clear: both; overflow: hidden; width: 100%; border-bottom: 1px #ccc solid; padding-bottom: 5px; margin: 5px 0;}
	.ItemListingHeaderTop{clear: both; overflow: hidden; width: 100%; border-bottom: 1px #ccc solid;}
		.ItemListingHeaderSorting{overflow: hidden; width: 40%; float: left; padding-right: 2%;}
			.ItemListingHeaderSorting .NormalBold {display: block; float: left; padding-top: 4px;}
			.ItemListingHeaderSorting table{ display: inline;}
		.ItemListingHeaderStatus{overflow: hidden; width: 40%; float: left;}
			.ItemListingHeaderStatus .NormalBold {display: block; float: left; padding-top: 4px;}
			.ItemListingHeaderStatus table{ display: inline;}
/*==================== Item.Listing and/or Detail.Item ==================== */
	.ItemListing, .ItemDetails{border-bottom: 1px #ccc dotted; overflow: hidden; padding: 10px 0; width: 100%;}
		.ItemListing p, .ItemDetails p{margin-top: 0; margin-bottom: 6px;}

	.ItemListing .EventTitle, .ItemDetails .EventTitle{overflow: hidden; width:100%;}
		.ItemListing .EventTitle h2.Head, .ItemDetails .EventTitle h2.Head {float:right; width:82%; padding: 0 0 5px; margin: 0;}
	
	.ItemListing .EventLocation, .ItemDetails .EventLocation{overflow: hidden;}
		.ItemListing .EventLocation .NormalBold, .ItemDetails .EventLocation .NormalBold {float:left; width: 15%; text-align: right;}
		.ItemListing .EventLocation .Normal, .ItemDetails .EventLocation .Normal{float:right; width: 82%; text-align: left;}
	
	.ItemListing .EventDate, .ItemDetails .EventDate{overflow: hidden;}
		.ItemListing .EventDate .NormalBold, .ItemDetails .EventDate .NormalBold {float:left; width: 15%; text-align: right;}
		.ItemListing .EventDate .Normal, .ItemDetails .EventDate .Normal{float:right; width: 82%; text-align: left;}
		.ItemListing .RecurrenceSummary .NormalBold, .ItemDetails .RecurrenceSummary .NormalBold {float: none; width: auto; text-align: left;}
		
	.ItemListing .EventOverview, .ItemDetails .EventOverview{overflow: hidden;}
		.ItemListing .EventOverview .NormalBold, .ItemDetails .EventOverview .NormalBold {float:left; width: 15%; text-align: right;}
		.ItemListing .EventOverview .Normal, .ItemDetails .EventOverview .Normal{float:right; width: 82%; text-align: left;}

	.ItemListing .EventDescription, .ItemDetails .EventDescription{overflow: hidden; clear: both;}
		.ItemListing .EventDescription .NormalBold, .ItemDetails .EventDescription .NormalBold {float:left; width: 15%; text-align: right;}
		.ItemListing .EventDescription .Normal, .ItemDetails .EventDescription .Normal{float:right; width: 82%; text-align: left;}
			.ItemListing .EventDescription .Normal > p, .ItemDetails .EventDescription .Normal > p {margin-top: 0;}
	
	.ItemListing .EventButtons{float:right; width: 82%;}
		.ItemListing .EventButtons input {margin-bottom: 0.675em;}
		
	.ItemListing .RecurrenceSummary{padding-left: 15px;}
	.ItemListing.RecurringEventItem{background: transparent url(../images/recurring_icon.gif) no-repeat 0 16px;}
	
	
/*==================== Mini List Template ==================== */	
	
	.MiniList
	{overflow:hidden;border-color:#ccc;border-width:1px;border-style:dashed;}
	.MiniList .AlternatingEventItem {background:#9c9;}
	.MiniList .EventItem {padding:2px 0;}
	.MiniList .EventItem:hover {background:#ccc;}
	.MiniList .EventItem a:hover {color:#000; text-decoration:none;}
			
	.MiniList .calendarLink
	{padding: 5px; text-align: right;}
	
/*==================== Narrow List Stuff ==================== */	
	.Narrow
	{overflow:hidden;border-color:#ccc;border-width:1px;border-style:dashed;}
	.Narrow .EventItem {border-bottom: 1px #ccc dotted; overflow: hidden; padding:5px; width: 100%;}
	.Narrow .EventItem:hover {background:#eee;}
	.Narrow .EventItem:hover a {color:#666; text-decoration:none;}
	
	.Narrow	.EventTitle{overflow: hidden;}
		.Narrow .EventTitle h3.SubHead{font-size: 120%; padding: 0 0 5px 18%; margin: 0;}
		.Narrow .EventTitle h2.NormalBold {padding: 0 0 5px 18%; margin: 0; Color:#666;}
	
	.Narrow .EventLocation{overflow: hidden;width:100%;}
		.Narrow .EventLocation .NormalBold {float:left; width: 30%; text-align: right;}
		.Narrow .EventLocation .Normal{float:right; width: 60%; text-align: left;}

	
	.Narrow .EventDate{overflow: hidden;width:100%;}
		.Narrow .EventDate .NormalBold {float:left; width: 30%; text-align: right;}
		.Narrow .EventDate .Normal{float:right; width: 60%; text-align: left;}
		.Narrow .RecurrenceSummary .NormalBold {float: none; width: auto; text-align: left;}
		
	.Narrow .EventLink{display:block;padding:10px 0 10px 10px;margin:-10px 0 -10px -10px;}
	.Narrow .EventItem p.Normal, .Narrow .EventItem h2.NormalBold {margin: 5px;}
			
	.Narrow .calendarLink
	{padding: 5px; text-align: right; }

/*==================== Narrow List Stuff ==================== */		
	ul.EventsQuickView{margin:0;padding:0 0 15px 0;}
	.EventsQuickView li{list-style:none;}