#eventListingItem{}
	.eventNav{}

/*==================== Header.ListingAll ==================== */

	.ItemListingHeader{}
		.ItemListingHeader p{margin: 0; padding: 0;}
	.ItemListingHeader h2.Head{clear: both; overflow: hidden; width: 100%; border-bottom: 1px #ccc solid; padding-bottom: 5px; margin: 5px 0;}
	.ItemListingHeaderTop{clear: both; overflow: hidden; width: 100%; border-bottom: 1px #ccc solid;}
		.ItemListingHeaderSorting{overflow: hidden; width: 40%; float: left; padding-right: 2%;}
			.ItemListingHeaderSorting .NormalBold {display: block; float: left; padding-top: 4px;}
			.ItemListingHeaderSorting table{ display: inline;}
		.ItemListingHeaderStatus{overflow: hidden; width: 40%; float: left;}
			.ItemListingHeaderStatus .NormalBold {display: block; float: left; padding-top: 4px;}
			.ItemListingHeaderStatus table{ display: inline;}


/*==================== Item.Listing ==================== */

	.EventTitle{overflow: hidden;}
		.EventTitle h3.SubHead{font-size: 120%; padding: 0 0 5px 18%; margin: 0;}
		.EventTitle h2.Head {padding: 0 0 5px 18%; margin: 0;}
	
	.EventLocation{overflow: hidden;}
		.EventLocation .NormalBold {float:left; width: 15%; text-align: right;}
		.EventLocation .Normal{float:right; width: 82%; text-align: left;}

	
	.EventDate{overflow: hidden;}
		.EventDate .NormalBold {float:left; width: 15%; text-align: right;}
		.EventDate .Normal{float:right; width: 82%; text-align: left;}
		.RecurrenceSummary .NormalBold {float: none; width: auto; text-align: left;}
		
	.EventOverview{overflow: hidden;}
		.EventOverview .NormalBold {float:left; width: 15%; text-align: right;}
		.EventOverview .Normal{float:right; width: 82%; text-align: left;}


	.EventDescription{overflow: hidden; clear: both;}
		.EventDescription .NormalBold {float:left; width: 15%; text-align: right;}
		.EventDescription .Normal{float:right; width: 82%; text-align: left;}
			.EventDescription .Normal > p {margin-top: 0;}


	
	.eventButtons{padding-left: 18%;}
		.eventButtons input {margin-bottom: 0.675em;}
		
	.RecurringEventItem{background: transparent url(../images/recurring_icon.gif) no-repeat 42px 14px;}
	
	
